.box {
    width: 200px;
    padding: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-family: sans-serif;
}

.box1 {
    background-color: aqua;
}
.box2 {
    background-color: rgb(0, 191, 70);
    margin-left: auto;
    margin-right: auto;
}
.box3 {
    background-color: rgb(48, 131, 255);
}
.box4 {
    background-color: purple;
    margin-left: auto;
    margin-right: auto;
}
.box5 {
    background-color: yellow;
}
.box6 {
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}
.box7 {
    background-color: gray;
}
.box8 {
    background-color: green;
    margin-left: auto;
    margin-right: auto;
}
.box9 {
    background-color: red;
}
.box10 {
    background-color: brown;
}

.container {
    display: flex;
    justify-content: space-between;

}

.container2 {
    display: block;
}